/*CSS*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 80%;
    /*se recomienda usar los 4 margenes*/
    /* top left bottom right */
    /*margin:1rem auto 1rem auto;*/
    top:0;
    /* este es la abreviación de 1re auto 1rem*/
}

.nav-back{
    background-color: #FF9595;
}
.nav_principal{
    /* Usamos display:flex para 
    habilitar las opciones de flexbox.
    Este debe ser usado en la clase padre 
    de lo que queramos que se encuadre.
    El justify-content es para posicionar el texto.
    */
    display: flex;
    /* existen distintos tipos de espacios, queda probar*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.25rem;
    width: 100%;
    z-index: 99;
}
/*a los elemenos "a" dentro dela clase nav_principal*/
.nav_principal a{
    color:white;
    /* con none quitamos los subrayados */
    text-decoration: none;
    font-size: 2rem;
    /* bold es NEGRITAS*/
    font-weight: bold;
    /*espacio desde la orilla hacia dentro*/
    padding: 0.85rem;
}
/* HOVER para efectos */
.nav_principal a:hover {
    background-color: blueviolet;
    /*color: var(--dark);*/
}

body{
    background: rgba(235,233,249,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(235,233,249,1) 0%, rgba(216,208,239,0.97) 55%, rgba(206,199,236,0.96) 76%, rgba(193,191,234,0.95) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(235,233,249,1)), color-stop(55%, rgba(216,208,239,0.97)), color-stop(76%, rgba(206,199,236,0.96)), color-stop(100%, rgba(193,191,234,0.95)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(235,233,249,1) 0%, rgba(216,208,239,0.97) 55%, rgba(206,199,236,0.96) 76%, rgba(193,191,234,0.95) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(235,233,249,1) 0%, rgba(216,208,239,0.97) 55%, rgba(206,199,236,0.96) 76%, rgba(193,191,234,0.95) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(235,233,249,1) 0%, rgba(216,208,239,0.97) 55%, rgba(206,199,236,0.96) 76%, rgba(193,191,234,0.95) 100%);
    background: radial-gradient(ellipse at center, rgba(235,233,249,1) 0%, rgba(216,208,239,0.97) 55%, rgba(206,199,236,0.96) 76%, rgba(193,191,234,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}

.titulo {
    color:gainsboro;
    font-family: 'Pattaya', sans-serif;
}

.super{
    background-image: url("../img/laptop-fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
}
.super-select{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    /* ambas son maneras de poner un fondo transparente,
    la primera tiene mas soporte que la 2da*/
    background-color: rgb(0 0 0 / 70%);
    height: 100%;
    width: 100%;
    /* cuando flex-direction: column se alinea horizontalmente con
        align-items: center y verticalmente con justify-content: center
        si flex-direction: row (predet) se hace ¿al reves?
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.boton {
    background-color: blueviolet;
    color: #c98474;
    padding: 1rem 3rem;
    /*margin top es la separación superior*/
    margin-top: 1rem;
    font-size: 2rem;
    /* retira los subrayados o cualquier decoración*/
    text-decoration: none;
    /*uppercase para ponerlo en mayusculas*/
    text-transform: uppercase;
    /*aplica negrita*/
    font-weight:bold;
    /*esquinas redondeadeas para le boton*/
    border-radius: 0.75rem;
    width: 80%;
    text-align: center;
    font-size: small;
}

@media (min-width: 480px){
    .nav_principal{
        flex-direction: row;
        justify-content: space-between;
    }
}