/*CSS*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font: 16px;
    color: #303133;
}



.nav-back{
    background-color: #FF9595;
}

.nav_principal{
    /* Usamos display:flex para 
    habilitar las opciones de flexbox.
    Este debe ser usado en la clase padre 
    de lo que queramos que se encuadre.
    El justify-content es para posicionar el texto.
    */
    width: 80%;
    display: flex;
    top:0;
    /* existen distintos tipos de espacios, queda probar*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.25rem;
    width: 100%;
    z-index: 99;
}
/*a los elemenos "a" dentro dela clase nav_principal*/
.nav_principal a{
    color:white;
    /* con none quitamos los subrayados */
    text-decoration: none;
    font-size: 2rem;
    /* bold es NEGRITAS*/
    font-weight: bold;
    /*espacio desde la orilla hacia dentro*/
    padding: 0.85rem;
}
/* HOVER para efectos */
.nav_principal a:hover {
    background-color: blueviolet;
    /*color: var(--dark);*/
}

.boton {
    background-color: blueviolet;
    color: #c98474;
    padding: 1rem 3rem;
    /*margin top es la separación superior*/
    margin-top: 1rem;
    font-size: 2rem;
    /* retira los subrayados o cualquier decoración*/
    text-decoration: none;
    /*uppercase para ponerlo en mayusculas*/
    text-transform: uppercase;
    /*aplica negrita*/
    font-weight:bold;
    /*esquinas redondeadeas para le boton*/
    border-radius: 0.75rem;
    width: 80%;
    text-align: center;
    font-size: small;
}

@media (min-width: 480px){
    .nav_principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*ELECTRODOMESTICOS*/
.main .portada{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.main .portada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.parallax{
    background-image: url('../img/FondoElectro.jpg');
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.deals-container{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
}

.title{
    margin-top: 100px;
    padding:50px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0,0,0,0.5);
}

.items{
    width: max-content;
    margin: 25px;
    border-radius: 0 0 50px 50px;
    display: inline-block;
}

.images{
    display: inline-block;
}

.item-image-size{
    height: 220px;
    width: 170px;
    padding:5px;
}

.description{
    margin: 20px;
    min-height: 100px;
}

.item-select{
    margin: 10px 0 0 0;
}

.buynow-btn{
    border:1px solid #184d47;
    background: black;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top:10px;
    color:white;
}

.buynow-btn:hover{
    border:1px solid grey;
    box-shadow: 0 0 10px 5px grey;
}



/*FIN ELECTRODOMESTICOS*/